:host {
	--sds-c-card-color-background: linear-gradient(180deg, rgba(255,255,255,1) 80%, #c5e7f7 100%);
}
.animal-tile {
	display: block;
	border: 1px solid #5d80d2;
	border-radius: .25rem;
	background-color: #c5e7f7;
}
.animal-silhouette {
	height: 100px;
}